.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .loader {
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;

    .progress-bar {
      width: 100%;
      max-width: 400px;
      height: 20px;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 10px;

      .progress {
        height: 100%;
        background-color: #1abc9c;
        border-radius: 8px;
      }
    }
  }

  &.loaded {
    opacity: 0;
    pointer-events: none;
  }
}
