.loader-container {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #192c59;

  .loader {
    width: 66%;
    text-align: center;

    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;

    .progress-bar {
      width: 100%;
      height: 10px;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 5px;

      .progress {
        height: 100%;
        background-color: #1abc9c;
        border-radius: 8px;
      }

      .loading-text {
        text-align: center;
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        animation: flashText 0.5s infinite;
      }
    }
  }

  &.loaded {
    opacity: 1;
    pointer-events: none;
  }
}
